/* zerando o css------------------------------------------------------------------------------------------------ */
*{
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;  
}

.header{
    top: 0;
    left: 0;
 position: fixed; 
 background-color: rgb(255, 254, 254);  
}

.principal{
    background-color: rgba(255, 255, 255, 0);
    background-image: url(./imagens/white.jpg);
    height: 100vh;
    width: 99.9%;
}
.principallogin{
    background-image: url(./Imagens/desktop.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 99.9%;
}
a{
    text-decoration: none;
    color: black;
}
header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100vw;
    background:white;
    border-bottom: solid 1px rgb(197, 197, 197);
    /* flatuicolors.com
    adobe colors */
}
    .minilogo img{
        height: 50px;
        width: 150px;  
        float: left;
        margin: 25px;
        }
 nav .nav{
  display: inline;
 }
 nav{
    position: fixed;
    text-decoration: none;
    text-align: center;        
    background-color: rgba(255, 255, 255, 0);
    width: 80vw;
    height: 35px;
    float: right;
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-top: 40px;
    right: 0;
}
nav .reg{
    background-color: rgba(255, 255, 255, 0);
    float: right;
    height: 25px; 
    padding-left: 20px; 
    padding-right: 20px;
    margin-right: 3vw;  
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.top li{
    display: inline ;
    background-color:rgba(255, 255, 255, 0);
    text-align: center;
    border-radius: 5px;  
    padding-left: 20px;      
}
.top li a{
    padding: 2px;
    text-decoration: none;
    color:rgb(156, 149, 149);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
} 
.top li a:hover{
    background-color:rgba(255, 255, 255, 0);
    color: black;
    font-weight: bold;
    transition-duration: 0.7s;
    border-bottom: 1px solid grey;
}

.buttonHome{
     width: 230px;
     height:40px;
     background-color:white; 
    border-radius: 10px;
     color: black;
     border: 2px solid gray;
     -webkit-transition-duration: 0.4s;
    cursor: pointer;
    transition-duration: 0.4s;
}
.buttonHome:hover{
    background: white;
    color: gray;
    border: 2px solid rgb(177, 175, 175);
    cursor: pointer;
    border-radius: 10px;
}
.divPrinc{
    margin-top: 15vh;
    border: black;
    background-color: blue;
    width: 100%;
    height:65vh ;

}
.divPrinc2{
    margin-top: 25vh;
    border: black;
    background-color: rgb(255, 0, 170);
    width: 100%;
    height:65vh;

}