
.nav-wrapper{
    background-color: #ffffff;
    
}
.nav-wrapper img{
    height: 55px;
    margin-left: 25px;
    
}
.nav-wrapper a{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

