/* zerando o css------------------------------------------------------------------------------------------------ */
*{
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;  
    text-decoration: none;
    text-align: center;
}
html{
    scroll-behavior: smooth;
    list-style: none;
 }
a{
    text-decoration: none;
    color: #8000ff;
}
/* .lis{
    display: block;
} */
/* HEADER */


/* INICIO DA PAGINA */
.hb{
    height: 102px;
    width: 100vw;
}
.principalDiv{
    margin-top: 1px;
    float: left;
    height: 60vh;
    width: 100vw;
    background-color: rgba(172, 255, 47, 0);
    position: relative;
    height: auto;
}
.principalDiv1{
    margin-top: 1px;
    float: left;
    height: 60vh;
    width: 98vw;
    background-color: rgba(172, 255, 47, 0);
    position: relative;
    height: auto;
    border: solid 1px gray;
    margin-left: 1vw;
    border-radius: 30px;
}

.prgPrincipal{
    margin-top: 1px;
    float: left;
    height: 60vh;
    width: 100vw;
    background-color: pink;
}
.centerInfo{
    float: left;
    width: 400px;
    height: 50vh;
    margin-left: 20%;
    /* margin-left: 20%; */
    background-color: rgba(255, 255, 255, 0.637);
    position: absolute;
    left: 0;
    margin-top: 1vh;
}
.conteinerDesc{
    float: right;
    width: 300px;
    height: 90%;
    /* background-color: #8000ff; */
    background-image: url(../Imagens/manual.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 18%;
    /* margin-left: 30%; */
    margin-top: 5vh;
}
.prgPrincipalS{
    margin-top: 1px;
    float: left;
    height: 60vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
}
.prgPrincipal1{
    margin-top: 4vh;
    float: left;
    height: 54vh;
    width: 80vw;
    /* width: max-content; */
    margin-left: 10vw;
    border: 1px solid gray;
    border-radius: 30px;
    margin-bottom: 10vh;
} 
.imgSolucaoTime{
    float: right;
    height: 55vh;
    width: 700px;
    background-color: rgba(63, 205, 75, 0);
    background-image: url(../Imagens/time.svg);
    background-repeat: no-repeat;
    background-size: auto;
    margin-right: 5%;
}
.contentText{
    left: 0;
    float: left;
    background-color: rgba(255, 255, 255, 0.582);
    height: 55vh;
    width: 600px;
    position: absolute;
    margin-left: 5%;
}
.imgSolucaoMana{
    float: left;
    height: 55vh;
    width: 700px;
    background-color: rgba(63, 205, 75, 0);
    background-image: url(../Imagens/acessHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5%;

}
.contentText1{
    right: 0;
    float: right;
    background-color: rgba(255, 255, 255, 0.582);
    height: 55vh;
    width: 600px;
    position: absolute;
    margin-right: 5%;

}
.display{
    display: inline-table;
    list-style: none;
   
}
.cont{
    margin-top:1px;
    float: left;
    margin-top: 5vh;
    height: 50vh;
    width: 650px;
    background-color: tomato;
    margin-left: 10px;
    margin-bottom: 10px;
    background-image: url(../Imagens/ExemploDash.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cont1{
    margin-top:1px;
    float: left;
    margin-top: 5vh;
    height: 50vh;
    width: 650px;
    background-color: rgba(32, 121, 99, 0.541);
    margin-left: 10px;
    margin-bottom: 10px;
    background-image: url(../Imagens/ExemploDash01.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.imgEndDesc{
    float: right;
    height: 55vh;
    width: 700px;
    background-color: rgba(63, 205, 75, 0);
    background-image: url(../Imagens/colegasHome.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5%;
}
.contentText2{
    left: 0;
    float: left;
    background-color: rgba(255, 255, 255, 0.582);
    height: 55vh;
    width: 600px;
    position: absolute;
    margin-left: 10%;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

/* FOOTER */

/* Fonts ----------------------------------------------- */
.textName{
    font-family: 'PT Serif Caption', serif;
    font-size: 58px;
    color: black;
}
.textName2{
    font-family: 'PT Serif Caption', serif;
    font-size: 18px;
    color: black;
}
.textName3{
    font-family: 'PT Serif Caption', serif;
    font-size: 58px;
    color: black;
    margin-left: 16.5%;
}
.textName4{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: rgb(0, 0, 0);
}
.textName5{
    font-size: 18px;
    color:rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}