/* zerando o css------------------------------------------------------------------------------------------------ */
*{
    padding: 0;
    border: 0;  
    right: 0;
    margin:0;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #8000ff;
}

/* INICIO DA PAGINA */
.divPrinc{
    margin-top: 100px;
    border: black;
    width: 85%;
    margin-left: 5%;
    height: 400px ;
    display: inline-table;
    background-image: url(../Imagens/personaHome.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: right;

}
/*
.aprPrinc{
    left: 0;
    width: 100%;
    background-color: rgba(248, 247, 247, 0);
   
    float: left;
    animation-iteration-count: 1;
    animation-duration: 3s;
    position: absolute;
}
*/
.aprMsgBig{
    background-color: rgba(255, 254, 254, 0.8);
    padding-top: 40px;
    width:450px; 
    float: left;
    height: 400px;
    text-align: center;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
/*
.aprFig{
    margin-right: 7%;
    margin-top: 1.5%;
    height: 100%;
    width: 500px;
    background-color: white;
    
    float: right;
    border: black;
    background-image: url(../Imagens/personaHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
*/
.divPrinc2{
    margin-top: 1vh;
    width: 100%;
    height:500px;

}
.aprMsgBig2{
    /* background-color: teal; */
    margin-left: 45%;
    float: left;
    width: 10%;
    z-index: -1;
}
.aprMsgMini{
    height: 350px;
    width: 90%;
    margin-top: 20px;
    margin-left: 10%;
    float: left;
    background-image: url(../Imagens/trabalhandoHome.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: left;
}
.mtvMsg{
    background-color: rgba(255, 254, 254, 0.8);
    height: 350px;
    width: 500px;
    float: right;
    right: 0;
    text-align: center;
    
}
.contentText{
    float: left;
    width: 400px;
    margin-right: 15%;
    margin-left: 5%;
    position: absolute;
    animation-iteration-count: 1;
    animation-duration: 3s;
    
}
.contentText ul{
    margin-left: 50px;
    width: 410px;
    text-align: justify;
}
/*
.aprSobre{
    margin-top: 3%;
    float: left;
    height: 60vh;
    margin-left: 5%;
    width: 500px;
    background-image: url(../Imagens/trabalhandoHome.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
*/

.divPrinc3{
    margin-top: 15vh;
    padding-top: 4vh;
    background-image: url("../Imagens/design.png");
    background-repeat: no-repeat;
    background-size:100%; 
    width: 100%;
    height:500px;
    margin-bottom: 0%;
    z-index: 1;
}
.integrantes{
    width: 20%;
    height: 350px;
    float: left;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    display: none;
}
.integrantes img{
    width: 100%;
    display: none;
    
}
.integrantes img:hover{
    transform: scale(1.4);
}
.divPrinc3 p{
    padding: 3vh;
    margin-top: 8vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vh;
    display: none;
}

/* Fonts ----------------------------------------------- */
.textName{
    font-family: 'Montserrat', serif;
    font-size: 40px;
    color: black;
}
.textName2{
    font-family: 'Montserrat', serif;
    font-size: 20px;
    color: black;
}
.textName3{
    font-family: 'PT Serif Caption', serif;
    font-size: 58px;
    color: black;
    margin-left: 16.5%;
}
.textName4{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: rgb(0, 0, 0);
}
.textName5{
    font-size: 18px;
    color:rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}
.imgSeta{
    margin-top: 2.8vh;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;   
}